<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" style="margin-bottom: 30px">
        <div class="col-md-4">
            <div id="app-1">
                <input type="checkbox" id="checkbox-1" v-model="message">
                <label for="checkbox-1">{{message}}</label>
            </div>
        </div>
        <div class="col-md-4">
            <div id="app-2">
                <input type="checkbox" id="jack" value="jack" v-model="message">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="john" v-model="message">
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="mike" v-model="message">
                <label for="mike">Mike</label>
                <br/>
                <span>{{message}}</span>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="form.js"></script>
</body>
</html>